@model IEnumerable<CWLE02Controllers._1._1.MVC.Models.MyDictionaryEntry>

@{
        ViewData["Title"] = "The Words";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="AddWord">Add a New Word</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Word)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Meaning)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Word)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Meaning)
            </td>
        </tr>
        }
    </tbody>
</table>
